/* Coolors Exported Palette - https://coolors.co/ef233c-2d3047-817f75-e9f1f7 */

/* CSS HEX */
--imperial-red: #ef233cff;
--space-cadet: #2d3047ff;
--middle-grey: #817f75ff;
--alice-blue: #e9f1f7ff;

/* CSS HSL */
--imperial-red: hsla(353, 86%, 54%, 1);
--space-cadet: hsla(233, 22%, 23%, 1);
--middle-grey: hsla(50, 5%, 48%, 1);
--alice-blue: hsla(206, 47%, 94%, 1);

/* SCSS HEX */
$imperial-red: #ef233cff;
$space-cadet: #2d3047ff;
$middle-grey: #817f75ff;
$alice-blue: #e9f1f7ff;

/* SCSS HSL */
$imperial-red: hsla(353, 86%, 54%, 1);
$space-cadet: hsla(233, 22%, 23%, 1);
$middle-grey: hsla(50, 5%, 48%, 1);
$alice-blue: hsla(206, 47%, 94%, 1);

/* SCSS RGB */
$imperial-red: rgba(239, 35, 60, 1);
$space-cadet: rgba(45, 48, 71, 1);
$middle-grey: rgba(129, 127, 117, 1);
$alice-blue: rgba(233, 241, 247, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ef233cff, #2d3047ff, #817f75ff, #e9f1f7ff);
$gradient-right: linear-gradient(90deg, #ef233cff, #2d3047ff, #817f75ff, #e9f1f7ff);
$gradient-bottom: linear-gradient(180deg, #ef233cff, #2d3047ff, #817f75ff, #e9f1f7ff);
$gradient-left: linear-gradient(270deg, #ef233cff, #2d3047ff, #817f75ff, #e9f1f7ff);
$gradient-top-right: linear-gradient(45deg, #ef233cff, #2d3047ff, #817f75ff, #e9f1f7ff);
$gradient-bottom-right: linear-gradient(135deg, #ef233cff, #2d3047ff, #817f75ff, #e9f1f7ff);
$gradient-top-left: linear-gradient(225deg, #ef233cff, #2d3047ff, #817f75ff, #e9f1f7ff);
$gradient-bottom-left: linear-gradient(315deg, #ef233cff, #2d3047ff, #817f75ff, #e9f1f7ff);
$gradient-radial: radial-gradient(#ef233cff, #2d3047ff, #817f75ff, #e9f1f7ff);